.show {
    margin: 30px 0;

    h1,
    h4 {
        color: darkblue;
    }

    .col-left {
        padding: 20px;
        flex-basis: 70%;

        .table {
            margin: 20px 0;
            background-color: rgb(0, 211, 0);
            justify-content: space-between;
            align-items: center;
            height: 50px;
            color: white;
        }
    }

    .col-right {
        flex-basis: 30%;
        margin: 20px 0;

        img {
            margin: 10px 0;
            width: 90%;
        }
    }
}

#main-bottom {
    background-color: rgb(249, 246, 246);

    p {
        font-size: 10px;
    }

    .col-left {

        p {
            color: dodgerblue;
        }

        li {
            height: 50px;
        }
    }

    .col-big {
        flex-basis: 80%;
    }

    .col-small {
        flex-basis: 20%;
    }

    ul {
        margin: 30px 0;
    }

    li {
        padding: 10px 0;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

}