.container {
    max-width: 1000px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.text-end {
    text-align: right;
}

.btn {
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    background-color: grey;
}

.btn-destroy {
    background-color: red;
}

.alert {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    width: 90%;
}

.alert-danger {
    background-color: rgba(255, 157, 157, 0.669);
    color: rgb(117, 0, 0);
}